.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.text {
  text-align: center;
}

.text > h1 > strong {
  text-align: center;
  font-size: 10rem;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-bottom: 0px;
  color: #f01e82;
  font-weight: 800;
  //-webkit-text-stroke: 4px rgb(0, 0, 0);
}

.text > h1 > small {
  font-size: 8rem;
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  color: #ffffff;
  font-weight: 800;
}

.text > p {
  max-width: 600px;
  text-align: center;
  margin: 4px;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5;
  padding-top: 4px;
  padding-bottom: 20px;
}

.image {
  position: relative;
  align-items: center;
  background: url("../public/assets/image1.JPG");
  background-position: 50% 55%;
  height: 600px;
  width: 80%;
  background-repeat: no-repeat;
  -webkit-animation: fade-in-bck 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bck 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-bck {
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.story {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.storytext {
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.storytext > h1 {
  text-align: left;
  font-size: 6rem;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  color: #f01e82;
  //-webkit-text-stroke: 1px rgb(0, 0, 0);
}

.storytext > h1 > strong {
  color: white;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.storytext > p {
  max-width: 600px;
  text-align: left;
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 4px;
  padding-bottom: 20px;
}

.gallery {
  position: relative;
  top: 2rem;
  padding-top: 10px;
  margin-top: 10px;
  align-items: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.galleryBox {
  position: absolute;
  top: 6rem;
  left: 20rem;
  width: 300px;
  height: 500px;
  background: #f01e82;
}
.galleryBox2 {
  position: absolute;
  top: 44rem;
  right: 3rem;
  width: 800px;
  height: 400px;
  background: #f01e82;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  height: 400px;
  width: 100%;
}

.button {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #f01e82;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  width: 220px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.mobileImage {
  display: none;
}

// Mobile
@media (max-width: 600px) {
  .story {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .image {
    display: none;
  }
  .mobileImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .text > h1 > strong {
    font-size: 4rem;
    text-align: center;
  }
  .text > h1 > small {
    font-size: 4rem;
    color: black;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
  }
  .storytext > h1 {
    text-align: center;
    font-size: 3rem;
  }
  .storytext > h1 > strong {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
  .storytext > p {
    padding-bottom: 20px;
  }
  .galleryBox {
    display: none;
  }
  .galleryBox2 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .story {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .image {
    display: none;
  }
  .mobileImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .text > h1 > strong {
    font-size: 4rem;
    text-align: center;
  }
  .text > h1 > small {
    font-size: 4rem;
    color: black;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
  }
  .storytext > h1 {
    text-align: center;
    font-size: 3rem;
  }
  .storytext > h1 > strong {
    color: black;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
  }
  .galleryBox {
    display: none;
  }
  .galleryBox2 {
    display: none;
  }
}
