.homeFront {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /*background-image: url("../public/assets/image6.jpg");
  background-size: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-attachment: fixed;
  background-size: 1920px auto; */
}

.homeLogo {
  margin: 10px;
  width: 300px;
  height: auto;
}

.homeFront > h1 > strong {
  color: #f01e82;
  font-weight: 800;
}

.homeFront > h1 > small {
  color: #ffffff;
  font-weight: 700;
  -webkit-text-stroke: 4px black;
}

.homeFront > h1 {
  text-align: center;
  position: relative;
  top: 25%;
  color: #ffffff;
  font-size: 8rem;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-animation: tracking-in-expand-fwd 1.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 1.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.homeFront > p {
  text-align: center;
  position: relative;
  top: 28%;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
}

.homeFront > p > a {
  color: #f01e82;
  font-weight: 600;
}

.homeButton:active {
  -webkit-animation: puff-out-bottom 0.9s cubic-bezier(0.165, 0.84, 0.44, 1)
    both;
  animation: puff-out-bottom 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
@keyframes puff-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }
}

.homeButton {
  background-color: #f01e82;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 35%;
  -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.mainImage {
  position: relative;
  top: 16rem;
  padding: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  position: fixed;
  top: -1%;
  font-weight: 600;
  color: #f01e82;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(255, 255, 255);
  z-index: 1;
  box-shadow: 0px 4px 8px -5px rgb(116, 116, 116);
}

.logo {
  position: relative;
  top: -2rem;
  display: flex;
  height: 80px;
  width: 80px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.navLeft {
  display: flex;
  font-size: 1.6rem;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.navRight {
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navRight > button > a {
  position: relative;
  top: -6px;
}

.navRight > button {
  text-align: center;
  align-items: center;
  position: relative;
  top: -5px;
  margin-top: 4px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  background: #f01e82;
  outline: none;
  border: none;
  padding: 14px;
  border-radius: 5px;
}

.navRight > button:active {
  -webkit-animation: puff-out-center 2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: puff-out-center 2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.navRight > button:hover {
  color: #f01e82;
  background: black;
}

.navRight > a {
  margin-left: 1px;
  padding-right: 1px;
}

.navRight > a:hover {
  color: black;
  transition: 0.3s;
}

.mobileMenu {
  display: none;
}

.bottomImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-bottom: 10rem;
  max-width: 300px;
}

.bottomImage > p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.postItem {
  background: rgba(255, 255, 255, 0.397);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  max-width: 1366px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border: 1px solid lightgrey;
  text-align: center;

  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07); */
}
.postButton {
  background-color: #f01e82;
  color: rgb(255, 255, 255);
  border: 0px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 0px;
  padding: 10px;
  font-weight: 800;
  width: 120px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 15%;
  left: 5%;
}

.postExcerpt {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.postImg {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.postLeft {
  width: 600px;
  background: white;
}

.postRight {
  border-left: 1px solid rgb(131, 131, 131);
  width: 400px;
  height: 400px;
  background: white;
}

.postLeft > h1 {
  text-align: left;
  margin: 10px;
  padding: 20px;
  font-size: auto;
  font-weight: 800;
  color: #f01e82;
}

.container > h1 {
  width: 1000px;
  font-size: 6rem;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  justify-items: center;
  border-bottom: 1px solid black;
}

.container > h1 > strong {
  color: #f01e82;
  font-weight: 800;
  -webkit-text-stroke: 0px rgb(0, 0, 0);
}

.about {
  position: relative;
  top: 1rem;
  margin: 0;
  padding: 0;
}

.Future {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.Future > h1 {
  margin-top: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 10rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 4px #f01e82;
}
.Future > h1 > strong {
  color: #f01e82;
  font-weight: 900;
  -webkit-text-stroke: 4px #000000;
}

@media (max-width: 330px) {
  .navLeft {
    font-size: 1rem !important;
  }
  .homeFront > h1 {
    font-size: 2.2rem !important;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .logo {
    width: 120px;
  }

  .Future > h1 {
    font-size: 3rem;
    font-weight: 600;
    -webkit-text-stroke: 2px #f01e82;
  }

  .Future > h1 > strong {
    color: #f01e82;
    font-weight: 800;
    -webkit-text-stroke: 2px #000000;
  }

  .homeFront > h1 {
    position: relative;
    top: 10rem;
    font-size: 3rem !important;
    word-wrap: break-word;
    width: 350px;
  }

  .homeFront > h1 > small {
    color: black;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
  }

  .homeFront > p {
    position: relative;
    top: 12rem;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .homeButton {
    position: relative;
    top: 14rem;
  }

  .mainImage {
    position: relative;
    top: 10rem;
  }
  .container {
    margin-top: 1px !important;
  }

  .navLeft {
    font-size: 1.4rem;
    width: 100%;
  }

  .navRight {
    display: none;
  }

  .mobileMenu {
    display: flex;
    position: relative;
    left: 0% !important;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 330px !important;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }

  .container > h1 {
    margin-top: 10rem;
    font-size: 3rem;
    width: 350px;
    color: black;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
  }
  .postItem {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0px 0;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  }
  .postButton {
    position: relative;
    background-color: #f01e82;
    color: white;
    //border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
  }
  .postImg {
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    width: 100%;
    object-fit: contain;
    border-left: none;
  }
  .postExcerpt {
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .postImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .postLeft > h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
  }

  .postRight {
    border-left: none;
  }
}
@media (max-width: 1066px) {
  .homeFront > h1 {
    font-size: 4rem;
  }
  .homeFront > h1 > small {
    color: black;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
  }
  .navRight {
    display: none;
  }
  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0%;
  }
  .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .postButton {
    position: relative;
    top: 5px;
  }
}
/*
@media (max-width: 1366px) {
  .navLeft {
    font-size: 1.4rem;
  }

  .navRight {
    position: relative;
    left: 20%;
    margin-right: auto;
  }
  .container {
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
  .postItem {
    width: 650px;
    height: 400px;
  }
  .postLeft {
    width: 100%;
  }
  .postLeft > h1 {
    font-size: 1.4rem;
  }
  .postRight {
    width: 100%;
  }
  .postButton {
    position: relative;
    top: auto;
  }
}*/
